extends layout

block content
  #page-container
    include navbar
    #accountBox
      h1  
        | Hello 
        b #{user.username}
      h2 
        |  You're selected artist is:
        b
          |  #{user.artist}
      h3
        | Please select another user using the "Users" tab