extends layout

block content
  section
    if !users || users.length == 0
      h3 No Users yet
    else
      each val in users
        a(href='#')
          h3 Username: 
          p.userName(action='/userPage') #{val.username}
        br
  script(src='/javascripts/client.js')