extends layout

block content
  #page-container
    include navbar
    #accountBox
      h1  
        | This page belongs to:  
        b #{user.username}
      h2 
        |  And they like:
        b
          |  #{user.artist}