extends layout

block content
  #page-container
    .boxes
      include navbar
    section
      if !users || users.length == 0
        h3 No Users yet
      else
        each val in users
          .userSelect.boxes
            h1 Username: 
            a(href='/userPage?username=#{val.username}&artist=#{val.artist}')
              h2.userName #{val.username}
  script(src='/javascripts/client.js')