body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#loginBox{
	width:300px;
	padding:20px;
	text-align: center;
	border: 1px solid #000;
}

.center{
	margin:0 auto;
	display: block;
}